@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #434A56;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	color: #164E66;
}
h1 {font-size: 32px;}
h2 {font-size: 28px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
h6 {font-size: 16px;}

a:link, a:visited {
	color: #26708F;
	text-decoration: none;
}
a:hover {
	color: #A2631D;
}
a:active {
	color: #888;
}
img {
	vertical-align: bottom;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
}
header {
	background: url("images/bar.png");
	border-bottom: 5px solid #072A3F;
	margin-bottom: 20px;
}
#header-logo {
	float: left;
}
nav {
	float: right;
	margin-right: 15px;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	float: left;
	position: relative;
}
nav ul li a {
	display: block;
	padding: 10px 15px;
	/*height: 30px;*/
	line-height: 30px;
	font-size: 1.2em;
}
nav ul li a:link,
nav ul li a:visited {
	color: #FFF;
}
nav ul li a:hover {
	background: #072A3F;
	color: #E4A866;
}
nav ul li a:active {
	background: #072A3F;
	color: #C2823A;
}
nav ul li span {
	display: none;
}
nav ul li:hover span {
	display: inline;
}
.fa-chevron-right {
	font-size: 0.8em;
	vertical-align: -2px;
}
.fa-chevron-down {
	vertical-align: -4px;
	font-size: 1.1em;
}
nav ul li ul {
	display: none; /* u startu */
	background: rgba(22,78,102,0.80);
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	width: 150px;
}
nav ul li:hover > ul {
	display: block; /* otvaranje */
	
}
nav ul li ul li {
	float: none;
}
nav ul li ul li ul {
	background: rgba(22,78,102,0.60);
	top: 0;
	left: 100%;
}
nav ul li ul li ul li ul {
	background: rgba(22,78,102,0.40);
}

#hero {
	position: relative;
	margin-bottom: 20px;
}
#hero:hover::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(162,99,29,0.15);
}
#hero-text {
	position: absolute;
	left: 44px;
	top: 143px;
	background: rgba(0,0,0,0.5);
	padding: 15px;
}
#hero-text h1 {
	color: #FFF;
	margin: 0;
	font-size: 3em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}	
#hero-text h1 > span {
	font-size: 0.9em;
	font-weight: 300;
}
#products {
	margin-bottom: 45px;
}
.product {
	float: left;
	width: 300px;
	margin-right: 30px;
	position: relative;
}
.product:nth-of-type(3) {
	margin-right: 0;
}
#products .product a {
	display: block;
}
#products .product a span {
	display: block;
	color: #FFF;
	/*height: 50px;*/
	margin: 5px 0 0;
	font-size: 1.7em;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
}
#products .product a:link span,
#products .product a:visited span {
	background: url("images/bar.png");
	border-bottom: 5px solid #072A3F;
}
#products .product a:hover span {
	background: #A2631D;
	border-bottom: 5px solid #7E4404;
}
#products .product a:active span {
	background: #072A3F;
	color: #C2823A;
	border-bottom: 5px solid #041724;
}
/*
#products .product a:hover img {
	filter: sepia(30%);
}*/
.filter {
	width: 300px;
	height: 200px;
	background: rgba(162,99,29,0.15);
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}
#products .product a:hover .filter {
	visibility: visible;
}
#products .product a:active .filter {
	opacity: 70%; 
}
main {
	width: 465px;
	float: left;
	margin-bottom: 20px;
}
main h2 {
	color: #164E66;
	font-size: 2em;
}
aside {
	float: right;
	width: 425px;
	background: #E4EEEF;
	padding: 20px;
	margin-bottom: 20px;
}
aside h3 {
	color: #164E66;
	font-size: 1.5em;
	margin-top: 5px;
}
aside span {
	color: #528A99;
	margin: 0;
}
aside  div:nth-of-type(1) {
	margin-bottom: 50px;
}
footer {
	clear: both;
	margin-top: 20px;
	background: #164E66;
	color: #96AFBA;
	padding: 20px 20px 0;
	position: relative;
}
#footer-logo {
	position: absolute;
	top: 0;
	left: 0;
}
#f-text {
	float: right;
}
.footer-text {
	float: left;
	width: 180px;
	padding-bottom: 60px;
}
.footer-text:nth-of-type(2) {
	padding-left: 30px;
}
.footer-text h3 {
	margin-top: 0;
	color: #96AFBA;
	font-size: 1.5em;
}
#footer-copy {
	clear: both;
	height: 35px;
	border-top: 5px solid #96AFBA; 
	text-align: center;
	line-height: 35px;
	font-size: 12px;
}
footer p {
	margin: 0;
}
